* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #7e7e7e;
}

.navbar {
  background: #393838;
  color: #fff;
  padding: 15px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.navbar ul.links {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease;
}

.navbar ul.links li {
  text-transform: uppercase;
  padding: 0 15px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}

.navbar ul.links li a {
  text-decoration: none;
  color: #fff;
}

.navbar ul.links li:hover {
  background: #549d9e;
  cursor: pointer;
  color: #080808;
}

.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.produtos-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px;
}

.card {
  width: 14.4%;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px;
  background-color: #393838;
  border-radius: 15px;
}


.card img {
  height: 320px;
  width: 100%;
  border-radius: 5px;
}

.cardB {
  width: 32%;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px;
}

.cardB {
  width: 14.4%;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px;
  background-color: #393838;
  border-radius: 15px;
}

.cardB img {
  height: 350px;
  width: 100%;
  
  border-radius: 5px;
}

footer {
  background-color: rgb(35, 35, 35);
  padding: 25px;
  text-align: center;
}

#imglogo {
  width: 150px;
  height: 100px;
}


.card_carrinho {
  width: 80%;
  display: flex;
  margin: 1% 1%;
  margin-left: 100px;
  padding: 15px;
  font-size: 10px;
  align-items: center;
  color:#080808;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.card_carrinho img{
  height: 100%;
  width: 100%;
  transition: all ease 0.2s;
  cursor:pointer ;
  border-color: #393838;
  border-radius:2px;
}
.card_carrinho h1{
 font-size: 35px;
 color: rgb(14, 10, 10);
 border-radius: 3px;
 padding: 5px;
 margin-left: 10px;
 
}

.card_carrinho h2 {
  margin-left: 480px;
  font-size: 30px;
  color:#000000
}
.card_carrinho button{
  font-size:20px;
  background-color: #b53cf2;
  border-radius: 5px;
  padding: 5px;
  margin-left: 60px;
  cursor: pointer;
}
.cardE {
  width: 200px;
  display: inline-block;
  margin: 1px;
  padding: 15px;
}

.cardE {
  width: 250px;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px;
  background-color: rgb(30 40 35);
  border-radius: 15px;
}

.cardE img {
  height: 350px;
  width: 100%;
  border-radius: 5px;
}